@import url("hide-kotlin-playground.css");
@import url("hide-filter.css");
@import url("fonts.css");

:root {
    --dokka-logo-image-url: url('../images/appIcon.png');
    --dokka-logo-height: 50px;
    --dokka-logo-width: 50px;
}