/* Hide "Target: JVM" under kotlin playground */
.compiler-info__target {
    display: none !important;
}

/* Hide "Running on v 2.1.0" under kotlin playground" */
.compiler-info__version {
    display: none !important;
}

/* Hide "Open in playground" under kotlin playground */
.compiler-info__open-editor-link {
    display: none !important;
}

/* Hide "Run code" button on top right corner in kotlin playground" */
.run-button {
    display: none !important;
}
